# ignore all executables and temporary files
*.out
*.exe
*.pyc
*.o
*.so
*.dll
*.swp
*.zip
*.tar.gz
*.tar.bz2
*.tar.xz
*.gem
*.rbc
*.rbo
*.pyc
*.pyo
*.class
*.bak
*.cache
*.log
*.tmp
*.pid
*.patch
*.diff

node_modules
bower_components
.idea
.DS_Store
.sass-cache
*.sublime-project
*.sublime-workspace
.vscode
.env
